.calculadora {
    background-color: blanchedalmond;
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 2px solid #d57e7e;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    }


#pantalla {
    justify-content: center;
    width: 260px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(151, 226, 201);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 25px;

}

.teclado button {
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 18px;
    margin: 4px;
    border: solid 1px rgb(122, 122, 122);
    box-shadow: 2px 2px 1px 1px rgba(179,179,179,1);

}

span {
margin: 20px;
width: 200px;
height: 200px;

}


#btnnull {
    opacity: 0%;
}