body {
    background-image: url("img/jnCXdAx.jpeg");
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.follow-mouse {
    position: fixed;
    transition: 2s;    /* EXTRA CREDIT!  */
}
